/.*
!.env

node_modules
var
composer.json

/*.lock
/docker-compose*.yml
package.json
phpunit.xml.dist
webpack.config.js
Makefile

tests

.docker/*
!.docker/prod/fpm-pool.ini
!.docker/prod/prod.ini
!.docker/prod/zzz.docker.conf
