@ui-kit:registry=https://gitlab.retailcrm.tech/api/v4/packages/npm/
//gitlab.retailcrm.tech/api/v4/packages/npm/:_authToken=CI_JOB_TOKEN
//gitlab.retailcrm.tech/api/v4/projects/:_authToken=CI_JOB_TOKEN
